body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f1f8;
  margin: 0;
  padding: 1rem;
  color: #333;
}

main {
  max-width: 500px;
  margin: auto;
  background: #e6dee9;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

h1 {
  text-align: center;
  color: #2c003e;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}